<html>
<head>
  <style>
  tr:nth-child(even) {
    background-color: #FFFFFF;
}
tr:nth-child(odd) {
    background-color: #E6E6E6;
}
td {
  padding:20px;
}
th {
  padding:20px;
}
  </style>
  </head>
  <body style="background-color:silver">
    <div align="center">
    <span align="center" style="font-size:80px">Undisputed</span>
  </div>
      <div style="margin-left:100px;float:left;clear:both">
      {% for c in competitions %}
      <span style="color:darkgreen;font-size:60px">{{c}}</span>
      <div >
      {% endfor %}
      <table style ="font-size:42px;border: 4px solid green">
      <br>
      <tr>
        <th>
          Rank
        </th>
        <th>
          Player
        </th>
        <th>
          Username
        </th>
        <th>
          Rating
        </th>
        <th>
          Wins
        </th>
        <th>
          Losses
        </th>
        <th>
          Streak
        </th>
      </tr>
      {% for t in teams %}
      
        <tr>
          <td>
            {{t.ranking}}
          </td>
          <td>
          <a href="/player/?username={{t.members.username}}">{{t.name}} </a>
        </td>
        <td>
          {{t.members.username }}

        </td>
        <td>
          {{t.rating}}
        </td>
        <td>
          {{t.wins}}
        </td>
        <td>
          {{t.losses}}
        </td>
        <td>
          {{t.current_streak}}
        </td>
      </tr>

        {% endfor %}
      </div>
  </body>
  </html>